@charset "UTF-8";

/**/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(33, 32, 36);
    background-image: url(school.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h3,
blockquote {
    color: white;
}

a:hover {
    color: purple;
}

a:link {
    text-decoration: none;
}

#p-title {
    color: rgb(255, 72, 0);
    margin: auto;
    width: 200px;
}

p {
    font-size: 24px;
    color: purple;
}

footer {
    clear: both;
}

#list-div {
    margin: auto;
}

.list-name {
    margin: auto;
    background-color: red;
    color: white;
    font-family: 微軟正黑體;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    height: 35px;
    line-height: 35px;
    width: 100px;
}

.list-name:hover {
    background-color: black;
}


/**/

.list-item {
    margin: auto;
    background-color: gray;
    color: white;
    font-family: 微軟正黑體;
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    width: 100px;
}

.list {
    float: left;
}

.list-item li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #777;
    list-style-type: none;
}

#list-block {
    width: 100%;
    background-color: white;
}